src/*.exe
src/pos
src/posd
src/test_pos
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.pos
#compilation and Qt preprocessor part
*.qm
Makefile
pos-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
